/* General styles */
body {
    font-family: sans-serif;
  }
  
  .container {
    width: 60%;
    margin: 10px auto;
    padding: 20px;
    background: #e2e0e0;
    border-radius: 5px;
   
  }

  h1#form {
    text-align: center;
    color: #db13ac;
  }

  p {
   
    text-align: center;
    color: #e2e0e0;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
  }

  .b{
  display: grid;
  grid-template-columns: repeat(2, 3fr); 
  grid-gap: 10px; 
  padding: 10px;
}
  
.container .colum .b input,
.container .colum .b select {
    border: none;
    outline: none;
    width: 90%;
    padding: 8px;
  
}

.container .colum .b select {
    width: 94.4%;
    padding: 10px;
    color: #6e6e6e;
  }
  
  textarea {
    width: 93%;
    padding: 8px;
    border: none;
    height: 150px;
    margin-left: 10px;
  }
  
  button {
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: darkblue;
}

  
  